.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

.DS_Store
.idea
.vscode
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies.lock
.flutter-plugins-dependencies.lock.json
.flutter-plugins-dependencies.lock.json.lock
.flutter-plugins-dependencies.lock.json.lock.json
.flutter-plugins-dependencies.lock.json.lock.json.loc.env
